<!DOCTYPE html>


<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Dashboard</title>
</head>
<body>
    <div class="page-container">
    <h2>Your Applications</h2>

    <a href="/add">➕ Add New Application</a>
    <br><br>
    <div class="filter-bar">
        <form method="GET" class="filter-form">
            <input
                type="text"
                name="search"
                placeholder="Search by company"
                value="{{ search }}"
            >
    
            <select name="status">
                <option value="">All Status</option>
                {% for s in ["Applied", "OA", "Interview", "Offer", "Rejected"] %}
                    <option value="{{ s }}" {% if status_filter == s %}selected{% endif %}>
                        {{ s }}
                    </option>
                {% endfor %}
            </select>
            <select name="sort" style="padding: 8px;">
                <option value="newest" {% if sort == "newest" %}selected{% endif %}>
                    Newest First
                </option>
                <option value="oldest" {% if sort == "oldest" %}selected{% endif %}>
                    Oldest First
                </option>
            </select>
            
    
            <button type="submit">Filter</button>
    
            {% if search or status_filter %}
                <a href="/dashboard" class="clear-btn">Clear</a>
            {% endif %}
        </form>
    </div>
    
    

    <!-- Stats -->
    <h3>Application Stats</h3>
    <div class="stats">
        {% for key, value in stats.items() %}
            <div class="stat-box">
                {{ key }}: {{ value }}
            </div>
        {% endfor %}
    </div>

    <!-- Applications -->
<div class="dashboard-container">

    {% for app in applications %}
    <div class="app-card">

        <div class="app-header">
            <h3>{{ app.company }}</h3>
            <span class="status {{ app.status | lower }}">{{ app.status }}</span>
        </div>

        <p class="role">{{ app.role }}</p>

        {% if app.notes %}
            <p class="notes">
                <strong>Notes:</strong> {{ app.notes }}
            </p>
        {% endif %}

        <div class="app-actions">
            <a href="/edit/{{ app.id }}">Edit</a>
            <a href="/delete/{{ app.id }}" class="danger">Delete</a>
        </div>

    </div>
    {% else %}
        <p>No applications added yet.</p>
    {% endfor %}

</div>


    <br>
    <a href="/logout">Logout</a>
    </div>
</body>

</html>
